/* Font link */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Site default */
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  background-color: #eff1f3;
}

/* title and nav bar */


#logo {
  text-decoration: none;
  color: #eff1f3;
  background: transparent;
  float: left;
  font-size: 200%;
  margin-left: 30px;
  line-height: 60px;
  text-align: center;
}

.top-bar {
  background-color: #d77a61;
  overflow: hidden;
  height: 50px;
  width: 100%;
}

/* Style the links inside the navigation bar */
#contents ul {
  margin-right: 30px;
  display: flexbox;
}

#contents li {
  float: right;
  list-style-type: none;
  text-align: center center;
  background-clip: border-box;
}

#contents a {
  display: inline-flex;
  color: #eff1f3;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
#contents a:hover {
  background-color: #eff1f3;
  color: black;
}

/* Add a color to the active/current link */
#contents a.active {
  background-color: #eff1f3;
  color: #d77a61;
}

/* Hero section */

#hero {
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#hero-image {
  height: 90%;
  width: 100%;
  background: url(../images/man-woman-seesaw.webp) no-repeat center center;
  background-size: contain;
  margin-left: 20%;
  margin-top: 50px;
}

#hero-tag {
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: 4px;
  /* width: 50%; */
  height: 20%;
  padding-top: 20px;
  padding-left: 10px;
  /* top: 30px; */
  left: 15px;
  position: absolute;
}

/* Statistics section */

.index-stat {
  letter-spacing: 2px;
  line-height: 120%;
  margin: 15px;
  padding: 10px;
  width: 50%;
}

.source-ref {
  font-size: 30%;
  float: right;
  padding-right: 20px;
}

.source-ref a {
  text-decoration: none;
  color: black;
  clear: both;
}

#stat-image {
  height: 200px;
  width: 200px;
  background: url(../images/statistic.png) no-repeat center center;
  background-size: contain;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.left-stat {
  float: both;
  clear: right;
}

.right-stat {
  clear: both;
  float: right;
}

#stat-image {
  clear: both;
}

/* Information sections */

.section-title {
  clear: both;
  margin-left: 30px;
  padding: 15px;
}

.center-info {
  letter-spacing: 2px;
  line-height: 120%;
  width: 80%;
  margin: auto;
  justify-self: center;
  padding: 10px;
}

.highlight-bar {
  margin: 20px auto;
  color: white;
  background-color: #d77a61;
  font-weight: 600;
}