/* Font link */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Site default */
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 300;
  background-color: #eff1f3;
}

/* title and nav bar */


#logo {
  text-decoration: none;
  color: #eff1f3;
  background: transparent;
  float: left;
  font-size: 200%;
  margin-left: 30px;
  line-height: 60px;
  text-align: center;
}

.top-bar {
  background-color: #d77a61;
  overflow: hidden;
  height: 50px;
  width: 100%;
}

/* Style the links inside the navigation bar */
#contents ul {
  margin-right: 30px;
}

#contents li {
  float: right;
  list-style-type: none;
  text-align: center center;
  background-clip: border-box;
}

#contents a {
  display: inline-flex;
  color: #eff1f3;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
#contents a:hover {
  background-color: #eff1f3;
  color: black;
}

/* Add a color to the active/current link */
#contents a.active {
  background-color: #eff1f3;
  color: #d77a61;
}

/* Hero section */

#hero {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#hero-image {
  height: 600px;
  width: 100%;
  background: url(../images/man-woman-seesaw.webp) no-repeat center center;
  background-size: contain;
}

#hero-tag {
  font: 150%;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 300px;
  height: 200px;

  padding-top: 40px;
  padding-left: 10px;
  top: 50px;
  right: 150px;

  position: absolute;
}